<%= render 'layouts/header2' %>

<!-- top-bar -->
<div class="top-bar">
    <p style="color:#CF2239"><%= @project.category.name %></p>
    <h1><%= link_to @project.link_string, "http://#{@project.link_string}", target: "_blank" %></h1>
    <br>
    <div class="card-deck">
      <div class="card portfolio_item">
        <%= image_tag @project.image.url, class: "img-responsive card-img-top" %>
      </div>
    </div>
</div>
<!-- end top-bar -->

<!-- main-container -->
<div class="container project-description">
        <p><%= h(@project.description).gsub(/\n/, '<br/>').html_safe %></p>
</div>
<br/>
<br/>
<br/>
<!-- end main-container -->

<!-- footer -->
<% render 'layouts/footer' %>
<!-- end footer -->

<!-- back to top -->
<a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
<!-- end back to top -->




<!-- jQuery -->
<script src="js/jquery-2.1.1.js"></script>
<!--  plugins -->
<script src="js/bootstrap.min.js"></script>
<script src="js/menu.js"></script>
<script src="js/animated-headline.js"></script>
<script src="js/isotope.pkgd.min.js"></script>


<!--  custom script -->
<script src="js/custom.js"></script>


